NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/cyosmjplytvlgzkiymek/settings/general
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5b3NtanBseXR2bGd6a2l5bWVrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3MzE0NjMsImV4cCI6MjA4NzMwNzQ2M30.vaGh2uEhWji8HBRw9anglZsiHCRlyYkTzVd-A-pTL2s
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api
NEXT_PUBLIC_API_WS=ws://localhost:8000